.container{
  margin-inline: 7%;
}
.top-text{
  text-align: left;
}
.top-text h6{
  color: goldenrod;
  margin-bottom: 0%;
}
.view-services{
  display: flex;
  justify-content: space-between;
}
.view-services h2{
  font-size: 26px;
  font-weight: bold;
}
.view-services p a{
  font-size: 11px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.view-services p a:hover{
  color: goldenrod;
}
.intro{
  font-size: 12px;
  /* margin-bottom: 3%; */
}
.card-components{
  display: flex;
  justify-content: space-evenly;  
  margin-top: 4%;
}
.card{
  border-radius: 2%;
  box-shadow: 1px 5px 2px 5px whitesmoke;
}
.card-img{
  width: 100%;
  height: 20vh;
  object-fit: fill;
  border-radius: 2%;
}
.card-title{
  margin-bottom: 0%;
}
.card-text{
  font-size: 12px;
  margin-top: 0%;
}